body{
	background-color: #D1EDCE;
}
.banner{
	text-align: right;
}
.header{
	text-align: center;
	font-size: 1.5em;
}
.polling tr:first-child{
	text-align: left;
	
}

.chart-link
{
    margin-left: 15px;
    font-size: 0.8em;
    color: #505050
}