<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    
<title>New Polling</title>

  </head>
<body id="createpoll">
    
<table style=" margin-left:auto; margin-right:auto; width:890px;">

      <tr class="header">
        <td>New Poll<br />
        </td>
      </tr>
      <tr>
        <td>
          <table style="width: 100%; height: 27px;">
            <tr>
              <td style="width:20%"><div style="border:1px solid blue">My Polls<br />
                <ul>
                  <li><a href="createpoll">Poll 2</a></li>
                  <li><a href="createpoll">Poll 4</a></li>
                  <li><a href="createpoll">Poll 7</a></li>
                  <li>...</li>
                </ul>
                </div>
              </td>
              <td style="width:80%">
                <form action="createpoll" method="post">
                  <table class="polling">
                  	<tr  class="header"><td>Name: <input type="text" name="title" value="New Polling"/></td></tr>
                  	<tr><td>Question:</td></tr>
                    <tr>
                      <td><textarea rows="5" cols="80"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lectus sit amet purus varius suscipit. Sed volutpat odio vel ante venenatis imperdiet. Proin magna dolor, condimentum nec tempus id, ullamcorper sit amet nibh. Morbi vestibulum ultricies nisl, id condimentum metus eleifend vel. Duis eget libero eu leo suscipit hendrerit. </textarea></td>
                    </tr>
                    <tr>
                      <td> Number of answers <input type="text" name="rep_id" value="1" /> </td>
                    </tr>
                    <tr>
                      <td> Answer 1 <input type="text" name="rep_id" size="50" value="Quisque tempor purus sit amet nunc mattis adipiscing" /> </td>
                    </tr>
                    <tr>
                      <td> Answer 2 <input type="text" name="rep_id" size="50" value="Nullam consectetur enim id nunc facilisis placerat." /></td>
                    </tr>
                    <tr>
                      <td> Answer 3 <input type="text" name="rep_id" size="50" value="Curabitur elementum quam diam, vitae auctor odio." /></td>
                    </tr>
                    <tr>
                      <td> Answer 4 <input type="text" name="rep_id" size="50" value="Nullam sollicitudin ligula sed magna elementum in commodo mi ultrices." /></td>
                    </tr>
                    <tr>
                      <td> <input type="button" name="rep_id" value="Add Question" /></td>
                    </tr>
                    <tr style="text-align: center">
                      <td> <input type="submit" name="rep_id" value="Validate Question" /></td>
                    </tr>
                  </table>
                </form>
              </td>
            </tr>
          </table>
          <br />
        </td>
      </tr>
    
</table>

  </body>
</html>