#{extends 'main.html' /}
#{set title:'Pollings' /}

<table style="width: 100%;">

	<tr>
		<td colspan="2"><a href="createpoll">Create new poll</a></td>
			</tr>

    <tr>
        <br/>
        <td>
            <table style="width: 100%;">
			<tr>

				<td style="width: 100%">

                    <div  class='listePolls'>&{'polls.recent.label'}<br />
                    #{recentsPolls polls:polls /}


                    #{if polls && polls.size() != totalPollCount}
                        <li><a href="#" onclick="alert('Provoque l affichage de tous les sondages??')">...</a></li>
                    #{/if}

				</div>

				</td>
			</tr>
		</table>
		<br />






		</td>

	</tr>
</table>
