#{extends 'main.html' /}

<h1 id="title">&{'login.title'}</h1>
</p>
<form id="login" action="@{Application.authenticate}" method="POST" accept-charset="utf-8"  class='listePolls'>
	<p>
		<label>&{'login.email'}</label>
		<input type="text" name="email" value="${flash.email}" id="email" />
	</p>
	<p>
		<label>&{'login.password'}</label>
		<input type="password" name="password" value="" id="password" />
	</p>
	<p>
		<input type="submit" value="&{'login.button'}" id="loginButton" />
	</p>
</form>

#{if flash.notconfirmed}
	<p>
		<a href="@{Application.resendConfirmation(flash.notconfirmed)}">&{'login.resend'}</a>
	</p>
#{/if}