#{extends 'main.html' /}
#{set title:'Home' /}
<form name="authentication" method="post" action="subscribe">
<table
	style="margin-left: auto; margin-right: auto; width: 890px;">
	<tr  class="header">
		<td colspan="2">Create an Account </td>
	</tr>
	

	<tr>
		<td>E-mail:</td>
		<td><input type="text" name="email" /></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="input" name="password" /></td>
	</tr>
	<tr>
		<td>Re-enter password:</td>
		<td><input type="input" name="passwordConfirm" /></td>
	</tr>
	<tr>
		<td>Check:</td>
		<td><img width="200px" height="50px" src="/public/images/Captcha.jpg"></td>
	</tr>
	<tr>
		<td>Type here characters which you see above</td>
		<td><input type="text" name="capcha" /></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center"><input type="submit"
			name="create" value="Create Account" /></td>
	</tr>
</table>
</form>
